@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
		overflow: hidden;
	}

	body {
		@apply bg-black text-white;
	}

	label {
		cursor: pointer;
	}
}

@layer components {
	.h1 { @apply font-bold; }
	.h2 { @apply font-bold; }

	._btn {
		padding: 0.25em 0.5em;
		border: 1px solid transparent;
		@apply hover:underline;
	}

	.button {
		@apply _btn bg-black text-white border-white/20;
	}

	.action {
		@apply _btn bg-gradient-to-br from-red-800 to-red-400 text-white;
	}

	.sticker {
		width: auto;
		filter: drop-shadow(0 0.2em 0.1em #0006);
	}
}

@layer utilities {
	.no-scrollbar { scrollbar-width: none; }
	.no-scrollbar::-webkit-scrollbar { display: none; }

	.scroll-snap { scroll-snap-type: x mandatory; }
	.scroll-snap > * { scroll-snap-align: center; }

	.glass { @apply bg-white/90 backdrop-blur-sm; }
	.glass-dark { @apply bg-white/10 backdrop-blur-sm; }
	.glass-border { @apply border border-white/10; }

	.dots {
		background-image: radial-gradient(theme('colors.gray.200') 1px, transparent 1px);
		background-size: 0.8rem 0.8rem;
	}

	.anim-fade {
		opacity: 0;
		animation: fade 0.2s ease-in-out calc(var(--delay, 0) * 0.005s) forwards;
	}
	.anim-fade-r { animation: fade-r 0.2s ease-in-out forwards; }

	@keyframes fade {
		to {
			opacity: 1;
		}
	}

	@keyframes fade-r {
		from {
			opacity: 0;
			translate: -1rem 0;
		}
	}
}
