@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-gray-100;
	}

	body > * {
		position: relative;
		z-index: 1;
	}

	body::after {
		content: '';
		position: fixed;
		inset: -5rem 0;
		background-image: radial-gradient(theme('colors.gray.200') 1px, transparent 1px);
		background-size: 0.8rem 0.8rem;

		@apply -skew-y-6;
	}

	svg {
		height: 1.2em;
		width: 1.2em;
	}

	[hidden] { display: none !important; }

	:target {
		scroll-margin-top: 4rem;
	}
}

@layer components {
	.screen {
		@apply bg-white bg-opacity-90 backdrop-blur;
	}

	.gradient-rose {
		@apply bg-gradient-to-tr from-rose-700 to-rose-400 text-white;
	}

	.text-gradient-rose {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@apply gradient-rose;
	}

	.action {
		display: inline-block;
		padding: 0.25em 0.5em;
		text-align: center;

		@apply
			rounded shadow-md shadow-rose-200 gradient-rose
			hover:from-rose-600 hover:to-rose-300;
	}

	.link {
		@apply underline hover:decoration-2;
	}
}

@layer utilities {
	.no-scrollbar { scrollbar-width: none; }
	.no-scrollbar::-webkit-scrollbar { display: none; }

	.full-width {
		margin-inline: calc(50% - 50vw);
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5ch;
	}

	.anim-fadein {
		opacity: 0;
		animation: fadein 0.2s ease-in-out 0.4s forwards;
	}

	@keyframes fadein {
		to { opacity: 1; }
	}
}
