@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100;
	}

	svg {
		height: 1.2em;
		width: 1.2em;
	}
}

@layer components {
	.action {
		display: inline-block;
		padding: 0.25em 0.5em;
		color: #fff;
		text-align: center;

		@apply
			rounded shadow-md shadow-rose-200 bg-gradient-to-tr from-rose-700 to-rose-400
			hover:from-rose-600 hover:to-rose-300;
	}

	.screen {
		backdrop-filter: blur(8px);
		@apply bg-white bg-opacity-80;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar { display: none; }
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5ch;
	}

	.anim-fadein {
		opacity: 0;
		animation: fadein 0.2s ease-in-out 0.4s forwards;
	}

	@keyframes fadein {
		to { opacity: 1; }
	}
}
