@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-ink text-white accent-accent;
	}

	label {
		cursor: pointer;
	}
}

@layer components {
	._h { @apply font-bold; }
	.h1 { @apply _h text-2xl; }
	.h2 { @apply _h text-lg; }

	._btn {
		cursor: pointer;
		padding: 0.3em 0.5em;
		border-radius: 3px;
		@apply transition-colors glass;
	}

	.button { @apply _btn glass-border-dark hover:bg-white; }

	.action { @apply _btn bg-accent glass-border-dark bg-opacity-80 hover:bg-opacity-100 text-white; }
	.action-2 { @apply _btn bg-white glass-border bg-opacity-10 hover:bg-opacity-20 text-white; }

	.sticker {
		width: auto;
		filter: drop-shadow(0 0.2em 0.1em #0006);
	}
}

@layer utilities {
	.no-scrollbar { scrollbar-width: none; }
	.no-scrollbar::-webkit-scrollbar { display: none; }

	.scroll-snap { scroll-snap-type: x mandatory; }
	.scroll-snap > * { scroll-snap-align: center; }

	.glass { @apply bg-white/90 backdrop-blur-sm; }
	.glass-dark { @apply bg-white/10 backdrop-blur-sm; }
	.glass-border { @apply border border-white/10; }
	.glass-border-dark { @apply border border-black/10; }

	.dots {
		background-image: radial-gradient(currentColor 1px, transparent 1px);
		background-size: 0.9rem 0.9rem;
	}

	.anim-fade {
		opacity: 0;
		animation: fade 0.2s ease-in-out calc(var(--delay, 0) * 0.005s) forwards;
	}
	.anim-fade-r { animation: fade-r 0.2s ease-in-out forwards; }

	@keyframes fade {
		to {
			opacity: 1;
		}
	}

	@keyframes fade-r {
		from {
			opacity: 0;
			translate: -1rem 0;
		}
	}
}
