@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100;
	}
}

@layer components {
	.action {
		display: inline-block;
		padding: 0.25em 0.5em;
		color: #fff;
		text-align: center;

		@apply bg-red-500 rounded;
	}

	.screen {
		@apply bg-white bg-opacity-80 backdrop-blur-sm;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.anim-fadein {
		opacity: 0;
		animation: fadein 0.2s ease-in-out 0.4s forwards;
	}

	@keyframes fadein {
		to {
			opacity: 1;
		}
	}
}
