@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100;
	}
}

@layer components {
	.action {
		display: inline-block;
		padding: 0.25em 0.5em;
		color: #fff;
		text-align: center;

		@apply rounded shadow-md shadow-rose-200  bg-gradient-to-tr from-rose-700 to-rose-400
			hover:from-rose-600 hover:to-rose-300;
	}

	.screen {
		@apply bg-white bg-opacity-80 backdrop-blur;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5ch;
	}

	.anim-fadein {
		opacity: 0;
		animation: fadein 0.2s ease-in-out 0.4s forwards;
	}

	@keyframes fadein {
		to {
			opacity: 1;
		}
	}
}
